<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Simple Weather App</title>
</head>

<body>
    <div class="main_container">
        <form method="POST">
            <label for="city" class="center-label">Enter City Name</label>
            <input type="text" name="city">
            <button type="submit">Check</button>
        </form>

        {% if weather %}
        <div class="result">
            <p><strong>City:</strong> {{ weather.city }}</p>
            <p><strong>Temperature:</strong> {{ weather.Temperature }}°C</p>
            <p><strong>Humidity:</strong> {{ weather.Humidity }}%</p>
            <p><strong>Wind Speed:</strong> {{ weather.Wind_Speed }} m/s</p>
        </div>
        {% endif %}

        {% if error %}
        <p class="error">{{error}}</p>
        {% endif %}

    </div>
</body>

</html>